<%= render "spree/shared/paypal_braintree_head_scripts" %>

<div data-pp-message data-pp-placement="<%= @placement || "product" %>" data-pp-amount="<%= @total %>"></div>

<script>
  var paypalOptions = {
    currency: '<%= current_order&.currency %>', //Don't get from current_order
    environment: '<%= Rails.env.production? ? "production" : "sandbox" %>',
    locale: '<%= paypal_button_preference(:paypal_button_locale, store: current_store) %>' //Don't get from paypal_button_preferences?
  }

  var message = new SolidusPaypalBraintree.createPaypalMessaging(
    paypalOptions
  )

  message.initialize();
</script>
